page-otros-egresos {
    .input {
        color: color($colors, light);
      }

      ion-label {
        font-size: 1em;
        color: color($colors, secondary)!important;
      }
      .total{
        color: color($colors, light)!important;
      }
}
