page-notifications-settings {
    .bgAlert{
        background-color: red!important;
    }
    .slides{
        position: absolute;
        top: 5px;
    }
    .titleSlide{
        margin-bottom: 150px;
    }
}
