
  <ion-header>
    <ion-navbar color="dark">
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
  
      <ion-title >
        Control Money
      </ion-title>
  
      <!-- <ion-buttons end>
        <button ion-button icon-only (click)="openModal()">
          <ion-icon name="home"></ion-icon>
        </button>
      </ion-buttons> -->
    </ion-navbar>
  
  </ion-header>

<ion-content padding >


<ion-slides #slides effect="slide">
     <ion-slide>

      <h2>Paso 1</h2>
        <hr>
      <h3>Ingresos</h3>
      <form [formGroup]="incomeForm"  placeholder="1525" (ngSubmit)="incomePost()" class="list-form">
        <ion-item>
          <ion-label fixed >
          <ion-icon name="cash" item-start class="text-primary"></ion-icon>
            Sueldo
        </ion-label>
        <ion-input   type="number" formControlName="salary" ></ion-input>
        </ion-item>

        <h3>Ingresos Semestrales</h3>
        <ion-item>

            <ion-label floating>
          <ion-icon name="cash" item-start class="text-primary"></ion-icon>
            Prima
        </ion-label>
        <ion-input type="number" formControlName="prima" ></ion-input>
        </ion-item>
        <h3>Otros Ingresos</h3>
        <ion-item>

            <ion-label floating>
          <ion-icon name="logo-usd" item-start class="text-primary"></ion-icon>
            1
        </ion-label>
        <ion-input  type="number" formControlName="firstOther" ></ion-input>
        </ion-item>
        <ion-item>

            <ion-label floating>
          <ion-icon name="logo-usd" item-start class="text-primary"></ion-icon>
            2
        </ion-label>
        <ion-input type="number" formControlName="secondOther" ></ion-input>
        </ion-item>
        <button ion-button icon-start block color="dark" tappable  type="submit" [disabled]="!incomeForm.valid">
            <ion-icon name="folder-open"></ion-icon>
            Guardar
          </button>
         </form>
         <div text-right>
            <button ion-button icon-start  color="dark" tappable (click)="swipeNext()"   [disabled]="next">
                <ion-icon name="walk"></ion-icon>
                Siguiente
              </button>
        </div>
        </ion-slide>


        <ion-slide>
      <h2>Paso 2</h2>
      <hr>
    <h3>Egresos</h3>
    <form [formGroup]="expenseForm" (ngSubmit)="expensePost()" class="list-form">
      <ion-item *ngFor="let item of services" >
        <ion-label inline>
        <ion-icon name="{{item['icon']}}" item-start class="text-primary"></ion-icon>
         {{item["title"]}}
      </ion-label>
      <ion-input type="number" formControlName="{{item['controlName']}}" ></ion-input>
      </ion-item>

      <button ion-button icon-start block color="dark" tappable  type="submit" [disabled]="!expenseForm.valid">
          <ion-icon name="folder-open"></ion-icon>
          Guardar
        </button>
       </form>
       <div text-right>
          <button ion-button icon-start  color="dark" tappable (click)="swipeNext()"   [disabled]="next">
              <ion-icon name="walk"></ion-icon>
              Siguiente
            </button>
      </div>
        </ion-slide>
        <ion-slide>
            <h2>Paso 3</h2>
            <hr>
          <h3>Egresos Anuales</h3>
          <form [formGroup]="anualExpenseForm" (ngSubmit)="anualExpensePost()" class="list-form">
            <ion-item *ngFor="let item of anualServices" >
              <ion-label inline>
              <ion-icon name="{{item['icon']}}" item-start class="text-primary"></ion-icon>
               {{item["title"]}}
            </ion-label>
            <ion-input type="number" formControlName="{{item['controlName']}}" ></ion-input>
            </ion-item>

            <button ion-button icon-start block color="dark" tappable  type="submit" [disabled]="!anualExpenseForm.valid">
                <ion-icon name="folder-open"></ion-icon>
                Guardar
              </button>
             </form>
             <div text-right>
                <button ion-button icon-start  color="dark" tappable (click)="swipeNext()"   [disabled]="next">
                    <ion-icon name="walk"></ion-icon>
                    Siguiente
                  </button>
            </div>
        </ion-slide>
        <ion-slide>
            <h2>Paso 4</h2>
            <hr>
          <h3>Otros Egresos</h3>
          <form [formGroup]="otherExpenseForm" (ngSubmit)="otherExpensePost()" class="list-form">
            <ion-item *ngFor="let item of otherServices" >
              <ion-label inline>
              <ion-icon name="{{item['icon']}}" item-start class="text-primary"></ion-icon>
               {{item["title"]}}
            </ion-label>
            <ion-input type="number" formControlName="{{item['controlName']}}" ></ion-input>
            </ion-item>

            <button ion-button icon-start block color="dark" tappable  type="submit" [disabled]="!otherExpenseForm.valid">
                <ion-icon name="folder-open"></ion-icon>
                Guardar
              </button>
             </form>
             <div text-right>
                <button ion-button icon-start  color="dark" tappable (click)="swipeNext(true)"   [disabled]="next">
                    <ion-icon name="walk"></ion-icon>
                    Siguiente
                  </button>
            </div>
        </ion-slide>
        <ion-slide>
            <h2>Resumen</h2>

            <ion-list>
                <ion-list-header>
                  Ingresos Totales
                </ion-list-header>
                <ion-item>
                  <ion-label inline class="total">
                    <ion-icon name="logo-usd" item-start class="text-primary"></ion-icon>
                     {{totalIncomes | currency}}
                  </ion-label>
                </ion-item>
                <ion-list-header>
                    Egresos Totales
                  </ion-list-header>
                  <ion-item>
                      <ion-label inline class="total">
                        <ion-icon name="trending-down" item-start class="text-primary"></ion-icon>
                         {{totalExpenses | currency }}
                      </ion-label>
                    </ion-item>
              </ion-list>
              <div text-right>
                  <button ion-button icon-start  color="dark" tappable (click)="swipeNext()"   [disabled]="next">
                      <ion-icon name="walk"></ion-icon>
                      Siguiente
                    </button>
              </div>
        </ion-slide>

      </ion-slides>

</ion-content>
